@charset "utf-8";
/* CSS Document */ 



body {
	margin: 0px;
	background-color:#000000;
	font-family:Tahoma, Geneva, sans-serif;
	}
	
#mapaGuaymas { height: 100%; margin: 0px; padding: 0px }	


  #custom-tweet-button a {
    display: block;
    padding: 2px 5px 2px 20px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    border: 1px solid #ccc;
  }

 
#botonesCiudad a { 
	display:block;
	width:100%;	
	height:70px;
	color:#F2F2F2;
	text-shadow:none;
	line-height:50px;
	font-size:18px;
	padding-left:140px;
	border-bottom: 1px solid #ccc;
	 
	}
	 
#botonesCiudad a:hover{ 
color:#444 !important; font-size:20px;
background-image: linear-gradient(bottom, rgb(255,191,0) 8%, rgb(255,242,0) 61%);
background-image: -o-linear-gradient(bottom, rgb(255,191,0) 8%, rgb(255,242,0) 61%);
background-image: -moz-linear-gradient(bottom, rgb(255,191,0) 8%, rgb(255,242,0) 61%);
background-image: -webkit-linear-gradient(bottom, rgb(255,191,0) 8%, rgb(255,242,0) 61%);
background-image: -ms-linear-gradient(bottom, rgb(255,191,0) 8%, rgb(255,242,0) 61%);

		}	
 
	
	
 #botones a span{ border-top:10px solid rgba(204,102,204,0);}
#botones a { 
	display:block;
	width:95%;	
	height:48px;
	color:#F2F2F2;
	text-shadow:none;
	line-height:48px;
	font-size:18px;
	padding-left:90px;
	margin:3px 10px;
	opacity:1; 
	}
	#botones a:hover{opacity:0.8; }
			
	
a,p{text-decoration:none; color:#f5f5f5  !important; 	text-shadow:none; text-decoration:none;}
	
.ui-page {background: #000;}

h1,h2,h3,h4,h5,h6{text-align:center; color:#f2f2f2; text-shadow:none; border-bottom:#ccc;}

.ico_empalme{ background-image:url(imagenes/ico_empalme.png); background-repeat:no-repeat;}
.ico_guaymas{background-image:url(imagenes/ico_guaymas.png); background-repeat:no-repeat;}
.ico_sancarlos{background-image:url(imagenes/ico_sanCarlos.png); background-repeat:no-repeat;}

.iconos_secciones{position:relative; display:block; width:45px; height:45px;  margin-left:-80px; float:left; } 
.icono_restaurantes{background-image:url(imagenes/iconos/ico_empalme.png); background-repeat:no-repeat;}
.icono_mapa{background-image:url(imagenes/iconos/mapa.png); background-repeat:no-repeat;}
.icono_hoteles{background-image:url(imagenes/iconos/Hoteles.png); background-repeat:no-repeat;}
.icono_restaurantes{background-image:url(imagenes/iconos/Restaurantes.png); background-repeat:no-repeat;}
.icono_compras{background-image:url(imagenes/iconos/Compras.png); background-repeat:no-repeat;}
.icono_diversion{background-image:url(imagenes/iconos/Diversion.png); background-repeat:no-repeat;}
.icono_puntos{background-image:url(imagenes/iconos/PuntoInteres.png); background-repeat:no-repeat;}
 
.color_rojo{background-color:#cc0000; border-top: 2px solid #F33;} 
.color_azul{background-color:#33b5e5;  border-top: 2px solid #33d5d5;} 
.color_cafe{background-color:#3e1c00; border-top: 2px solid #6c3c00;} 
.color_morado{background-color:#9933cc; border-top: 2px solid #9955ee;} 
.color_amarillo{background-color:#ff9d11; border-top: 2px solid #ffee3f;} 
.color_verde{background-color:#669924; border-top: 2px solid #66bb46;}  




 
#imgDetalle img{ width:45%; float:left; min-height:60px; max-width:250px; margin:2%;    }  
#imgDetalleh img{ width:45%; float:left; min-height:60px; max-width:250px; margin:2%;    }  
#imgDetallec img{ width:45%; float:left; min-height:60px; max-width:250px; margin:2%;    } 
#imgDetalleo img{ width:45%; float:left; min-height:60px; max-width:250px; margin:2%;    } 
#imgDetallet img{ width:45%; float:left; min-height:60px; max-width:250px; margin:2%;    } 

.dirTel{ width:50%; float:left; }

#llegaraqui{ display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#CC0000; padding-left:20px;}
#llegaraquih{ display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#9933cc; padding-left:20px;}
#llegaraquic{ display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#669924; padding-left:20px;}
#llegaraquio { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#33b5e5; padding-left:20px;}
#llegaraquit { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#ff9d11; padding-left:20px;}

#telefono { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#CC0000; padding-left:20px;}
#telefonoh { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#9933cc; padding-left:20px;}
#telefonoc { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#669924; padding-left:20px;}
#telefonoo { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#33b5e5; padding-left:20px;}
#telefonot { display:block; width:140px; border-radius:15px; height:35px; line-height:35px; background-color:#ff9d11; padding-left:20px;}
 
#llegaraqui:hover{ background-color:#F33;}
#llegaraquih:hover{ background-color:#ab3be3;}
#llegaraquic:hover{ background-color:#76b229;}
#llegaraquio:hover{ background-color:#52cdfa;}
#llegaraquit:hover{ background-color:#fca529;}


.descripcion{padding:30px;}

#pagina p{ text-align:center;  font-weight:bold;  display:block; width:80:; margin:20px; border:1px solid #333;  height:25px; line-height:25px; }
#paginah p{ text-align:center;  font-weight:bold;  display:block; width:80:; margin:20px; border:1px solid #333;  height:25px; line-height:25px; }
#paginac p{ text-align:center;  font-weight:bold;  display:block; width:80:; margin:20px; border:1px solid #333;  height:25px; line-height:25px; }
#paginao p{ text-align:center;  font-weight:bold;  display:block; width:80:; margin:20px; border:1px solid #333;  height:25px; line-height:25px; }
#paginat p{ text-align:center;  font-weight:bold;  display:block; width:80:; margin:20px; border:1px solid #333;  height:25px; line-height:25px; }

.textoGeneral  { font-family:Tahoma, Geneva, sans-serif; }







